{% extends "layout/base.html" %}
{% load static %}


{% block title %} Course Home {% endblock %}

{%block content%}
<div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">
  <a type="button" class="btn btn-dark px-5" href="{% url "courseList" %}">Course List</a>
  <a type="button" class="btn btn-dark px-5" href="{% url "addCourse" %}">Add Course</a>
  <a type="button" class="btn btn-dark px-5" href="{% url "login" %}">Login</a>
  <a type="button" class="btn btn-dark px-5" href="{% url "register" %}">register</a>
</div>

<div class="col-12 d-flex justify-content-center bg-dark">
  <img src="{% static 'images/1520155058658.jpg' %}" alt="home">
</div>
{% endblock %}