{% extends "layout\base.html" %}

{% block title %} Edit Tracks {% endblock %}

{% block content %}
<div class="container my-3">
    <h1>Edit Track Data:</h1>
    <hr>
    <div>
        <a href="{% url 'TracksList' %}" class="btn btn-dark mx-1">Tracks List</a>
    </div>
    {% load crispy_forms_tags %}
    <form class="w-50 row" method="POST">
        {% csrf_token %}
        {{form |crispy }}
        <button type="submit" class="btn btn-dark col-5">Update Track</button>
    </form>
</div>
{% endblock %}
