{% extends "layout/base.html" %}

{% block title %} Tracks List {% endblock %}

{% block content %}
<div class="container">
  <h1>Tracks List</h1>
  <hr>
  <div class="d-flex justify-content-start">
    <a href="{% url 'AddTrack' %}" class="btn btn-dark mx-1">Add track</a>
    <a href="{% url "DeletedTracks" %}" class="btn btn-dark mx-1">Deleted Tracks</a>
  </div>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Duration(per hour)</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      {% for track in tracks %}
        <tr>
          <td>{{ track.track_id }}</td>
          <td>{{ track.track_name }}</td>
          <td>{{ track.track_duration }}</td>
          <td>{{ track.track_supervisor }}</td>
          <td>{{ track.track_start_date }}</td>
          <td>{{ track.track_end_date }}</td>
          <td> 
            <a class="btn btn-dark p-1" href="{% url "TrackDetails" track_id=track.track_id %}" > Details </a>
            <a class="btn btn-danger p-1 delete-btn" href="#" data-url="{% url 'DeleteTrack' track_id=track.track_id %}" > Delete </a>
            <a class="btn btn-primary p-1" href="{% url "UpdateTrack" track_id=track.track_id %}" > Update </a>
          </td>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}